<form method="post" action="{{ path('app_whisper_delete', {'id': whisper.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet whisper ?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ whisper.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>