{% extends 'base.html.twig' %}

{% block title %}Nouveau document{% endblock %}

{% block body %}
   
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
    <div class="col-md-8 mx-auto">       
      {{ include('whisper/_form.html.twig') }}
    </div>
    </p>
    </div>
</div> 
    
{% endblock %}

 